In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px

# --==Bolsa Família==--

In [2]:
bolsa_familia = pd.read_csv('distribuicao_bolsafamilia.csv')
bolsa_familia

,_id,co_uf,no_uf,ano,variavel,social_categoria,social_subcategoria,valor
0,1,11,RO,2004,Assistência Social,Bolsa Família,Benefício médio recebido pelas famílias do Bol...,8.444700e+02
1,2,11,RO,2004,Assistência Social,Bolsa Família,Famílias beneficiárias,5.494200e+04
2,3,11,RO,2004,Assistência Social,Bolsa Família,Valor Total Repassado do Bolsa Família,2.504001e+07
3,4,11,RO,2005,Assistência Social,Bolsa Família,Benefício médio recebido pelas famílias do Bol...,7.533100e+02
4,5,11,RO,2005,Assistência Social,Bolsa Família,Famílias beneficiárias,6.834300e+04
...,...,...,...,...,...,...,...,...
1534,1535,53,DF,2021,Assistência Social,Bolsa Família,Famílias beneficiárias,9.098000e+04
1535,1536,53,DF,2021,Assistência Social,Bolsa Família,Valor Total Repassado do Bolsa Família,9.570864e+07
1536,1537,53,DF,2023,Assistência Social,Bolsa Família,Benefício médio recebido pelas famílias do Bol...,3.473870e+03
1537,1538,53,DF,2023,Assistência Social,Bolsa Família,Famílias beneficiárias,1.686330e+05
1538,1539,53,DF,2023,Assistência Social,Bolsa Família,Valor Total Repassado do Bolsa Família,5.933521e+08

In [3]:
bolsa_familia = bolsa_familia.drop(['_id', 'co_uf', 'variavel', 'social_categoria', ], axis=1)

In [4]:
data = {'Estado': bolsa_familia['no_uf'],
        'Ano': bolsa_familia['ano'],
        'Categoria': bolsa_familia ['social_subcategoria'],
        'Valor médio em R$': bolsa_familia ['valor']
        }

dataFrame = pd.DataFrame(data)
dataFrame

,Estado,Ano,Categoria,Valor médio em R$
0,RO,2004,Benefício médio recebido pelas famílias do Bol...,8.444700e+02
1,RO,2004,Famílias beneficiárias,5.494200e+04
2,RO,2004,Valor Total Repassado do Bolsa Família,2.504001e+07
3,RO,2005,Benefício médio recebido pelas famílias do Bol...,7.533100e+02
4,RO,2005,Famílias beneficiárias,6.834300e+04
...,...,...,...,...
1534,DF,2021,Famílias beneficiárias,9.098000e+04
1535,DF,2021,Valor Total Repassado do Bolsa Família,9.570864e+07
1536,DF,2023,Benefício médio recebido pelas famílias do Bol...,3.473870e+03
1537,DF,2023,Famílias beneficiárias,1.686330e+05
1538,DF,2023,Valor Total Repassado do Bolsa Família,5.933521e+08

In [5]:
df_filtered = dataFrame[dataFrame.index % 3 == 0] #linhas que são multiplas de 3
df_filtered.reset_index(drop=True, inplace=True)
nova_ordem = ['Ano', 'Estado', 'Valor médio em R$', 'Categoria' ]
df = df_filtered[nova_ordem]
df

,Ano,Estado,Valor médio em R$,Categoria
0,2004,RO,844.47,Benefício médio recebido pelas famílias do Bol...
1,2005,RO,753.31,Benefício médio recebido pelas famílias do Bol...
2,2006,RO,746.48,Benefício médio recebido pelas famílias do Bol...
3,2007,RO,839.86,Benefício médio recebido pelas famílias do Bol...
4,2008,RO,994.74,Benefício médio recebido pelas famílias do Bol...
...,...,...,...,...
508,2018,DF,2006.68,Benefício médio recebido pelas famílias do Bol...
509,2019,DF,2135.28,Benefício médio recebido pelas famílias do Bol...
510,2020,DF,726.71,Benefício médio recebido pelas famílias do Bol...
511,2021,DF,1084.31,Benefício médio recebido pelas famílias do Bol...
512,2023,DF,3473.87,Benefício médio recebido pelas famílias do Bol...

In [6]:
df = df.drop(['Categoria', 'Estado'], axis=1) 
df

      Ano  Valor médio em R$
0    2004             844.47
1    2005             753.31
2    2006             746.48
3    2007             839.86
4    2008             994.74
..    ...                ...
508  2018            2006.68
509  2019            2135.28
510  2020             726.71
511  2021            1084.31
512  2023            3473.87

[513 rows x 2 columns]

In [7]:
bolsa_familia_anual = df.groupby('Ano').mean().reset_index()
pd.set_option('float_format', '{:.2f}'.format) #formatação para numeros cientificos
bolsa_familia_anual

     Ano  Valor médio em R$
0   2004             839.76
1   2005             776.53
2   2006             740.02
3   2007             816.17
4   2008             974.33
5   2009            1065.51
6   2010            1145.79
7   2011            1343.98
8   2012            1581.89
9   2013            1828.92
10  2014            1958.61
11  2015            2017.78
12  2016            2079.36
13  2017            2169.87
14  2018            2209.58
15  2019            2277.66
16  2020             743.33
17  2021            1188.82
18  2023            3449.95

In [8]:
nova_linha = {'Ano': 2022, 'Valor médio em R$': '0'}
bolsa_familia_anual.loc[len(bolsa_familia_anual)] = nova_linha

In [9]:
bolsa_familia_anual

     Ano Valor médio em R$
0   2004            839.76
1   2005            776.53
2   2006            740.02
3   2007            816.17
4   2008            974.33
5   2009           1065.51
6   2010           1145.79
7   2011           1343.98
8   2012           1581.89
9   2013           1828.92
10  2014           1958.61
11  2015           2017.78
12  2016           2079.36
13  2017           2169.87
14  2018           2209.58
15  2019           2277.66
16  2020            743.33
17  2021           1188.82
18  2023           3449.95
19  2022                 0

In [10]:
bolsa_familia_anual = bolsa_familia_anual.sort_values(by='Ano')
bolsa_familia_anual

     Ano Valor médio em R$
0   2004            839.76
1   2005            776.53
2   2006            740.02
3   2007            816.17
4   2008            974.33
5   2009           1065.51
6   2010           1145.79
7   2011           1343.98
8   2012           1581.89
9   2013           1828.92
10  2014           1958.61
11  2015           2017.78
12  2016           2079.36
13  2017           2169.87
14  2018           2209.58
15  2019           2277.66
16  2020            743.33
17  2021           1188.82
19  2022                 0
18  2023           3449.95

# --==Cesta Básica==--

In [11]:
cesta_basica = pd.read_excel('cestas_basicas.xls')
cesta_basica

,Ano,DF,MS,MT,GO,MG,RJ,SP,ES,PR,...,AC,SE,CE,PB,AL,RN,PE,BA,MA,PI
0,2004,166.39,NaN,NaN,146.67,158.92,166.88,171.03,148.12,160.56,...,NaN,146.67,135.79,136.50,NaN,142.21,136.41,143.58,NaN,NaN
1,2004,164.77,NaN,NaN,147.87,156.27,161.91,167.00,147.26,157.82,...,NaN,147.00,139.17,140.40,NaN,139.42,140.32,143.32,NaN,NaN
2,2004,162.92,NaN,NaN,147.32,154.51,158.57,166.96,149.02,154.43,...,NaN,142.38,143.63,139.99,NaN,143.18,137.44,138.06,NaN,NaN
3,2004,159.37,NaN,NaN,145.39,153.32,153.59,165.00,146.20,156.29,...,NaN,139.56,137.23,136.47,NaN,138.59,138.10,137.25,NaN,NaN
4,2004,159.48,NaN,NaN,143.46,161.69,160.76,168.68,147.37,162.79,...,NaN,137.34,135.94,137.76,NaN,137.78,133.18,138.59,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2023,689.98,691.70,NaN,641.53,646.02,722.78,748.47,660.88,685.13,...,NaN,542.67,642.68,565.07,NaN,581.18,580.72,575.81,NaN,NaN
236,2023,662.20,675.68,NaN,630.95,633.78,719.92,734.77,681.91,681.23,...,NaN,532.34,640.48,562.60,NaN,598.99,570.20,571.01,NaN,NaN
237,2023,647.76,682.97,NaN,636.07,627.72,721.17,738.13,675.16,675.01,...,NaN,521.96,648.93,554.88,NaN,582.12,557.10,563.10,NaN,NaN
238,2023,667.58,674.79,NaN,648.59,639.68,728.27,749.28,675.45,683.44,...,NaN,516.76,639.91,548.33,NaN,567.30,551.04,550.86,NaN,NaN
239,2023,698.74,697.69,NaN,669.36,656.29,738.61,761.01,688.86,697.22,...,NaN,517.26,630.38,542.30,NaN,556.06,538.08,560.81,NaN,NaN

In [12]:
cb_anual = cesta_basica.groupby('Ano').mean().reset_index()
cb_anual

,Ano,DF,MS,MT,GO,MG,RJ,SP,ES,PR,...,AC,SE,CE,PB,AL,RN,PE,BA,MA,PI
0,2004,165.40,NaN,NaN,147.42,161.64,165.69,172.38,151.83,161.77,...,NaN,139.09,135.56,137.04,NaN,138.72,133.86,135.08,NaN,NaN
1,2005,170.05,NaN,NaN,151.07,163.47,169.81,178.75,160.27,166.65,...,NaN,137.67,133.33,136.60,NaN,136.96,137.19,132.86,NaN,NaN
2,2006,168.38,NaN,NaN,147.81,166.12,168.27,176.99,157.63,163.64,...,NaN,136.44,130.27,135.99,NaN,135.63,135.14,136.02,NaN,NaN
3,2007,177.71,NaN,NaN,159.85,180.43,183.99,193.37,173.61,175.74,...,NaN,150.10,143.95,143.51,NaN,151.69,144.88,146.22,NaN,NaN
4,2008,220.94,NaN,NaN,199.39,225.76,221.86,235.87,214.13,218.35,...,NaN,180.16,184.09,180.82,NaN,193.87,178.68,180.80,NaN,NaN
5,2009,221.32,NaN,NaN,203.86,217.33,220.09,229.82,225.38,215.41,...,NaN,171.03,180.87,179.12,NaN,193.87,180.92,195.39,NaN,NaN
6,2010,226.25,NaN,NaN,215.53,225.73,229.76,247.90,231.48,226.93,...,NaN,177.85,187.03,189.60,NaN,204.84,198.93,204.13,NaN,NaN
7,2011,247.33,NaN,NaN,236.47,250.02,254.59,268.57,255.75,245.24,...,NaN,185.30,212.50,201.15,NaN,219.49,209.51,207.85,NaN,NaN
8,2012,266.16,266.10,NaN,248.89,276.45,276.20,292.84,281.64,264.13,...,NaN,200.42,235.00,226.49,NaN,233.69,235.52,218.53,NaN,NaN
9,2013,296.39,295.30,NaN,275.60,307.57,310.39,328.43,317.53,291.92,...,NaN,233.66,274.81,269.32,NaN,274.92,278.03,263.35,NaN,NaN
10,2014,313.48,304.07,NaN,288.82,314.78,332.72,344.90,335.93,315.72,...,NaN,234.72,283.59,268.17,NaN,273.62,287.70,267.79,NaN,NaN
11,2015,358.85,347.01,390.88,325.39,346.46,370.58,389.65,367.66,358.31,...,310.96,280.50,316.17,301.10,324.44,294.59,309.44,312.64,327.49,343.59
12,2016,443.40,416.80,428.00,393.37,412.39,444.41,456.48,428.52,412.94,...,361.43,362.55,394.60,369.82,372.68,348.35,359.55,360.66,368.04,387.36
13,2017,404.45,379.21,389.34,379.81,376.13,425.07,434.88,406.36,390.15,...,331.54,353.17,393.23,356.35,366.87,346.35,348.79,340.48,352.63,387.92
14,2018,407.59,387.98,397.92,365.21,377.42,440.26,444.49,408.54,400.64,...,NaN,346.31,387.99,344.59,NaN,341.10,342.08,327.82,345.90,NaN
15,2019,452.49,429.37,NaN,416.85,418.51,480.25,490.36,462.11,435.29,...,NaN,362.23,421.25,378.26,NaN,375.14,381.29,365.90,385.48,NaN
16,2020,483.81,495.56,NaN,497.11,491.08,550.38,558.33,528.75,506.58,...,NaN,409.73,480.07,429.91,NaN,428.74,444.88,429.13,NaN,NaN
17,2021,603.27,598.35,NaN,570.80,573.93,637.89,654.70,627.97,604.93,...,NaN,465.74,546.92,490.26,NaN,494.98,487.69,481.92,NaN,NaN
18,2022,699.46,713.14,NaN,668.62,661.01,730.00,762.23,701.66,691.94,...,NaN,529.06,631.80,563.41,NaN,579.31,576.20,566.33,NaN,NaN
19,2023,692.04,707.95,NaN,670.85,657.54,738.51,768.61,691.06,688.77,...,NaN,542.28,655.54,575.46,NaN,600.25,581.18,581.41,NaN,NaN

In [13]:
df_organizado = cb_anual.reindex(sorted(cb_anual.columns), axis=1) #ordem alfabética
df_organizado

,AC,AL,AM,AP,Ano,BA,CE,DF,ES,GO,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
0,NaN,NaN,NaN,NaN,2004,135.08,135.56,165.40,151.83,147.42,...,161.77,165.69,138.72,NaN,NaN,176.13,158.55,139.09,172.38,NaN
1,NaN,NaN,NaN,NaN,2005,132.86,133.33,170.05,160.27,151.07,...,166.65,169.81,136.96,NaN,NaN,177.81,163.93,137.67,178.75,NaN
2,NaN,NaN,NaN,NaN,2006,136.02,130.27,168.38,157.63,147.81,...,163.64,168.27,135.63,NaN,NaN,174.33,164.56,136.44,176.99,NaN
3,NaN,NaN,NaN,NaN,2007,146.22,143.95,177.71,173.61,159.85,...,175.74,183.99,151.69,NaN,NaN,199.69,177.93,150.10,193.37,NaN
4,NaN,NaN,219.33,NaN,2008,180.80,184.09,220.94,214.13,199.39,...,218.35,221.86,193.87,NaN,NaN,235.12,220.25,180.16,235.87,NaN
5,NaN,NaN,217.80,NaN,2009,195.39,180.87,221.32,225.38,203.86,...,215.41,220.09,193.87,NaN,NaN,243.12,219.67,171.03,229.82,NaN
6,NaN,NaN,234.93,NaN,2010,204.13,187.03,226.25,231.48,215.53,...,226.93,229.76,204.84,NaN,NaN,248.11,228.58,177.85,247.90,NaN
7,NaN,NaN,251.36,NaN,2011,207.85,212.50,247.33,255.75,236.47,...,245.24,254.59,219.49,NaN,NaN,267.64,256.63,185.30,268.57,NaN
8,NaN,NaN,275.31,NaN,2012,218.53,235.00,266.16,281.64,248.89,...,264.13,276.20,233.69,NaN,NaN,286.32,273.81,200.42,292.84,NaN
9,NaN,NaN,313.30,NaN,2013,263.35,274.81,296.39,317.53,275.60,...,291.92,310.39,274.92,NaN,NaN,318.80,300.80,233.66,328.43,NaN
10,NaN,NaN,314.03,NaN,2014,267.79,283.59,313.48,335.93,288.82,...,315.72,332.72,273.62,NaN,NaN,340.52,344.67,234.72,344.90,NaN
11,310.96,324.44,339.91,341.77,2015,312.64,316.17,358.85,367.66,325.39,...,358.31,370.58,294.59,347.47,363.90,381.60,379.52,280.50,389.65,346.02
12,361.43,372.68,398.77,380.97,2016,360.66,394.60,443.40,428.52,393.37,...,412.94,444.41,348.35,376.77,411.22,452.73,448.01,362.55,456.48,389.13
13,331.54,366.87,364.78,365.00,2017,340.48,393.23,404.45,406.36,379.81,...,390.15,425.07,346.35,378.14,378.69,445.72,431.46,353.17,434.88,374.65
14,NaN,NaN,359.18,NaN,2018,327.82,387.99,407.59,408.54,365.21,...,400.64,440.26,341.10,NaN,NaN,441.02,435.09,346.31,444.49,NaN
15,NaN,NaN,NaN,NaN,2019,365.90,421.25,452.49,462.11,416.85,...,435.29,480.25,375.14,NaN,NaN,475.76,472.48,362.23,490.36,NaN
16,NaN,NaN,NaN,NaN,2020,429.13,480.07,483.81,528.75,497.11,...,506.58,550.38,428.74,NaN,NaN,538.21,543.03,409.73,558.33,NaN
17,NaN,NaN,NaN,NaN,2021,481.92,546.92,603.27,627.97,570.80,...,604.93,637.89,494.98,NaN,NaN,653.41,659.77,465.74,654.70,NaN
18,NaN,NaN,NaN,NaN,2022,566.33,631.80,699.46,701.66,668.62,...,691.94,730.00,579.31,NaN,NaN,747.32,751.23,529.06,762.23,NaN
19,NaN,NaN,NaN,NaN,2023,581.41,655.54,692.04,691.06,670.85,...,688.77,738.51,600.25,NaN,NaN,758.98,753.25,542.28,768.61,NaN

In [14]:
coluna_ano = df_organizado.pop('Ano')
df_organizado.insert(0, 'Ano', coluna_ano)
df_organizado

,Ano,AC,AL,AM,AP,BA,CE,DF,ES,GO,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
0,2004,NaN,NaN,NaN,NaN,135.08,135.56,165.40,151.83,147.42,...,161.77,165.69,138.72,NaN,NaN,176.13,158.55,139.09,172.38,NaN
1,2005,NaN,NaN,NaN,NaN,132.86,133.33,170.05,160.27,151.07,...,166.65,169.81,136.96,NaN,NaN,177.81,163.93,137.67,178.75,NaN
2,2006,NaN,NaN,NaN,NaN,136.02,130.27,168.38,157.63,147.81,...,163.64,168.27,135.63,NaN,NaN,174.33,164.56,136.44,176.99,NaN
3,2007,NaN,NaN,NaN,NaN,146.22,143.95,177.71,173.61,159.85,...,175.74,183.99,151.69,NaN,NaN,199.69,177.93,150.10,193.37,NaN
4,2008,NaN,NaN,219.33,NaN,180.80,184.09,220.94,214.13,199.39,...,218.35,221.86,193.87,NaN,NaN,235.12,220.25,180.16,235.87,NaN
5,2009,NaN,NaN,217.80,NaN,195.39,180.87,221.32,225.38,203.86,...,215.41,220.09,193.87,NaN,NaN,243.12,219.67,171.03,229.82,NaN
6,2010,NaN,NaN,234.93,NaN,204.13,187.03,226.25,231.48,215.53,...,226.93,229.76,204.84,NaN,NaN,248.11,228.58,177.85,247.90,NaN
7,2011,NaN,NaN,251.36,NaN,207.85,212.50,247.33,255.75,236.47,...,245.24,254.59,219.49,NaN,NaN,267.64,256.63,185.30,268.57,NaN
8,2012,NaN,NaN,275.31,NaN,218.53,235.00,266.16,281.64,248.89,...,264.13,276.20,233.69,NaN,NaN,286.32,273.81,200.42,292.84,NaN
9,2013,NaN,NaN,313.30,NaN,263.35,274.81,296.39,317.53,275.60,...,291.92,310.39,274.92,NaN,NaN,318.80,300.80,233.66,328.43,NaN
10,2014,NaN,NaN,314.03,NaN,267.79,283.59,313.48,335.93,288.82,...,315.72,332.72,273.62,NaN,NaN,340.52,344.67,234.72,344.90,NaN
11,2015,310.96,324.44,339.91,341.77,312.64,316.17,358.85,367.66,325.39,...,358.31,370.58,294.59,347.47,363.90,381.60,379.52,280.50,389.65,346.02
12,2016,361.43,372.68,398.77,380.97,360.66,394.60,443.40,428.52,393.37,...,412.94,444.41,348.35,376.77,411.22,452.73,448.01,362.55,456.48,389.13
13,2017,331.54,366.87,364.78,365.00,340.48,393.23,404.45,406.36,379.81,...,390.15,425.07,346.35,378.14,378.69,445.72,431.46,353.17,434.88,374.65
14,2018,NaN,NaN,359.18,NaN,327.82,387.99,407.59,408.54,365.21,...,400.64,440.26,341.10,NaN,NaN,441.02,435.09,346.31,444.49,NaN
15,2019,NaN,NaN,NaN,NaN,365.90,421.25,452.49,462.11,416.85,...,435.29,480.25,375.14,NaN,NaN,475.76,472.48,362.23,490.36,NaN
16,2020,NaN,NaN,NaN,NaN,429.13,480.07,483.81,528.75,497.11,...,506.58,550.38,428.74,NaN,NaN,538.21,543.03,409.73,558.33,NaN
17,2021,NaN,NaN,NaN,NaN,481.92,546.92,603.27,627.97,570.80,...,604.93,637.89,494.98,NaN,NaN,653.41,659.77,465.74,654.70,NaN
18,2022,NaN,NaN,NaN,NaN,566.33,631.80,699.46,701.66,668.62,...,691.94,730.00,579.31,NaN,NaN,747.32,751.23,529.06,762.23,NaN
19,2023,NaN,NaN,NaN,NaN,581.41,655.54,692.04,691.06,670.85,...,688.77,738.51,600.25,NaN,NaN,758.98,753.25,542.28,768.61,NaN

In [15]:
df_sem_nan = df_organizado.fillna(0)

def somar_todas_colunas(linha):
    return linha.drop(labels='Ano').sum()
df_sem_nan['Soma'] = df_sem_nan.apply(somar_todas_colunas, axis=1)
df_sem_nan

,Ano,AC,AL,AM,AP,BA,CE,DF,ES,GO,...,RJ,RN,RO,RR,RS,SC,SE,SP,TO,Soma
0,2004,0.00,0.00,0.00,0.00,135.08,135.56,165.40,151.83,147.42,...,165.69,138.72,0.00,0.00,176.13,158.55,139.09,172.38,0.00,2430.50
1,2005,0.00,0.00,0.00,0.00,132.86,133.33,170.05,160.27,151.07,...,169.81,136.96,0.00,0.00,177.81,163.93,137.67,178.75,0.00,2468.66
2,2006,0.00,0.00,0.00,0.00,136.02,130.27,168.38,157.63,147.81,...,168.27,135.63,0.00,0.00,174.33,164.56,136.44,176.99,0.00,2448.87
3,2007,0.00,0.00,0.00,0.00,146.22,143.95,177.71,173.61,159.85,...,183.99,151.69,0.00,0.00,199.69,177.93,150.10,193.37,0.00,2669.49
4,2008,0.00,0.00,219.33,0.00,180.80,184.09,220.94,214.13,199.39,...,221.86,193.87,0.00,0.00,235.12,220.25,180.16,235.87,0.00,3509.01
5,2009,0.00,0.00,217.80,0.00,195.39,180.87,221.32,225.38,203.86,...,220.09,193.87,0.00,0.00,243.12,219.67,171.03,229.82,0.00,3517.97
6,2010,0.00,0.00,234.93,0.00,204.13,187.03,226.25,231.48,215.53,...,229.76,204.84,0.00,0.00,248.11,228.58,177.85,247.90,0.00,3693.72
7,2011,0.00,0.00,251.36,0.00,207.85,212.50,247.33,255.75,236.47,...,254.59,219.49,0.00,0.00,267.64,256.63,185.30,268.57,0.00,4003.83
8,2012,0.00,0.00,275.31,0.00,218.53,235.00,266.16,281.64,248.89,...,276.20,233.69,0.00,0.00,286.32,273.81,200.42,292.84,0.00,4614.97
9,2013,0.00,0.00,313.30,0.00,263.35,274.81,296.39,317.53,275.60,...,310.39,274.92,0.00,0.00,318.80,300.80,233.66,328.43,0.00,5246.55
10,2014,0.00,0.00,314.03,0.00,267.79,283.59,313.48,335.93,288.82,...,332.72,273.62,0.00,0.00,340.52,344.67,234.72,344.90,0.00,5470.68
11,2015,310.96,324.44,339.91,341.77,312.64,316.17,358.85,367.66,325.39,...,370.58,294.59,347.47,363.90,381.60,379.52,280.50,389.65,346.02,9205.56
12,2016,361.43,372.68,398.77,380.97,360.66,394.60,443.40,428.52,393.37,...,444.41,348.35,376.77,411.22,452.73,448.01,362.55,456.48,389.13,10790.96
13,2017,331.54,366.87,364.78,365.00,340.48,393.23,404.45,406.36,379.81,...,425.07,346.35,378.14,378.69,445.72,431.46,353.17,434.88,374.65,10285.09
14,2018,0.00,0.00,359.18,0.00,327.82,387.99,407.59,408.54,365.21,...,440.26,341.10,0.00,0.00,441.02,435.09,346.31,444.49,0.00,7669.96
15,2019,0.00,0.00,0.00,0.00,365.90,421.25,452.49,462.11,416.85,...,480.25,375.14,0.00,0.00,475.76,472.48,362.23,490.36,0.00,7601.20
16,2020,0.00,0.00,0.00,0.00,429.13,480.07,483.81,528.75,497.11,...,550.38,428.74,0.00,0.00,538.21,543.03,409.73,558.33,0.00,8265.80
17,2021,0.00,0.00,0.00,0.00,481.92,546.92,603.27,627.97,570.80,...,637.89,494.98,0.00,0.00,653.41,659.77,465.74,654.70,0.00,9678.17
18,2022,0.00,0.00,0.00,0.00,566.33,631.80,699.46,701.66,668.62,...,730.00,579.31,0.00,0.00,747.32,751.23,529.06,762.23,0.00,11186.48
19,2023,0.00,0.00,0.00,0.00,581.41,655.54,692.04,691.06,670.85,...,738.51,600.25,0.00,0.00,758.98,753.25,542.28,768.61,0.00,11314.54

In [16]:
def somar_valores(linha):
    soma = 0
    estado = 0
    for valor in linha:
        if valor != 0:
            soma += valor
            estado += 1
    return soma / estado if estado != 0 else 0
# Aplicar a função a todas as linhas e criar uma nova coluna 'Resultado'
df_sem_nan['Resultado'] = df_sem_nan.apply(somar_valores, axis=1)
df_sem_nan

,Ano,AC,AL,AM,AP,BA,CE,DF,ES,GO,...,RN,RO,RR,RS,SC,SE,SP,TO,Soma,Resultado
0,2004,0.00,0.00,0.00,0.00,135.08,135.56,165.40,151.83,147.42,...,138.72,0.00,0.00,176.13,158.55,139.09,172.38,0.00,2430.50,381.39
1,2005,0.00,0.00,0.00,0.00,132.86,133.33,170.05,160.27,151.07,...,136.96,0.00,0.00,177.81,163.93,137.67,178.75,0.00,2468.66,385.68
2,2006,0.00,0.00,0.00,0.00,136.02,130.27,168.38,157.63,147.81,...,135.63,0.00,0.00,174.33,164.56,136.44,176.99,0.00,2448.87,383.54
3,2007,0.00,0.00,0.00,0.00,146.22,143.95,177.71,173.61,159.85,...,151.69,0.00,0.00,199.69,177.93,150.10,193.37,0.00,2669.49,408.11
4,2008,0.00,0.00,219.33,0.00,180.80,184.09,220.94,214.13,199.39,...,193.87,0.00,0.00,235.12,220.25,180.16,235.87,0.00,3509.01,475.05
5,2009,0.00,0.00,217.80,0.00,195.39,180.87,221.32,225.38,203.86,...,193.87,0.00,0.00,243.12,219.67,171.03,229.82,0.00,3517.97,476.05
6,2010,0.00,0.00,234.93,0.00,204.13,187.03,226.25,231.48,215.53,...,204.84,0.00,0.00,248.11,228.58,177.85,247.90,0.00,3693.72,494.60
7,2011,0.00,0.00,251.36,0.00,207.85,212.50,247.33,255.75,236.47,...,219.49,0.00,0.00,267.64,256.63,185.30,268.57,0.00,4003.83,527.30
8,2012,0.00,0.00,275.31,0.00,218.53,235.00,266.16,281.64,248.89,...,233.69,0.00,0.00,286.32,273.81,200.42,292.84,0.00,4614.97,562.10
9,2013,0.00,0.00,313.30,0.00,263.35,274.81,296.39,317.53,275.60,...,274.92,0.00,0.00,318.80,300.80,233.66,328.43,0.00,5246.55,625.31
10,2014,0.00,0.00,314.03,0.00,267.79,283.59,313.48,335.93,288.82,...,273.62,0.00,0.00,340.52,344.67,234.72,344.90,0.00,5470.68,647.77
11,2015,310.96,324.44,339.91,341.77,312.64,316.17,358.85,367.66,325.39,...,294.59,347.47,363.90,381.60,379.52,280.50,389.65,346.02,9205.56,704.35
12,2016,361.43,372.68,398.77,380.97,360.66,394.60,443.40,428.52,393.37,...,348.35,376.77,411.22,452.73,448.01,362.55,456.48,389.13,10790.96,813.72
13,2017,331.54,366.87,364.78,365.00,340.48,393.23,404.45,406.36,379.81,...,346.35,378.14,378.69,445.72,431.46,353.17,434.88,374.65,10285.09,778.87
14,2018,0.00,0.00,359.18,0.00,327.82,387.99,407.59,408.54,365.21,...,341.10,0.00,0.00,441.02,435.09,346.31,444.49,0.00,7669.96,789.00
15,2019,0.00,0.00,0.00,0.00,365.90,421.25,452.49,462.11,416.85,...,375.14,0.00,0.00,475.76,472.48,362.23,490.36,0.00,7601.20,861.07
16,2020,0.00,0.00,0.00,0.00,429.13,480.07,483.81,528.75,497.11,...,428.74,0.00,0.00,538.21,543.03,409.73,558.33,0.00,8265.80,976.40
17,2021,0.00,0.00,0.00,0.00,481.92,546.92,603.27,627.97,570.80,...,494.98,0.00,0.00,653.41,659.77,465.74,654.70,0.00,9678.17,1125.12
18,2022,0.00,0.00,0.00,0.00,566.33,631.80,699.46,701.66,668.62,...,579.31,0.00,0.00,747.32,751.23,529.06,762.23,0.00,11186.48,1283.95
19,2023,0.00,0.00,0.00,0.00,581.41,655.54,692.04,691.06,670.85,...,600.25,0.00,0.00,758.98,753.25,542.28,768.61,0.00,11314.54,1297.48

In [17]:
df = df_sem_nan.set_index('Ano')
df.index = df.index.astype(int)
df

,AC,AL,AM,AP,BA,CE,DF,ES,GO,MA,...,RN,RO,RR,RS,SC,SE,SP,TO,Soma,Resultado
Ano,,,,,,,,,,,,,,,,,,,,,
2004,0.00,0.00,0.00,0.00,135.08,135.56,165.40,151.83,147.42,0.00,...,138.72,0.00,0.00,176.13,158.55,139.09,172.38,0.00,2430.50,381.39
2005,0.00,0.00,0.00,0.00,132.86,133.33,170.05,160.27,151.07,0.00,...,136.96,0.00,0.00,177.81,163.93,137.67,178.75,0.00,2468.66,385.68
2006,0.00,0.00,0.00,0.00,136.02,130.27,168.38,157.63,147.81,0.00,...,135.63,0.00,0.00,174.33,164.56,136.44,176.99,0.00,2448.87,383.54
2007,0.00,0.00,0.00,0.00,146.22,143.95,177.71,173.61,159.85,0.00,...,151.69,0.00,0.00,199.69,177.93,150.10,193.37,0.00,2669.49,408.11
2008,0.00,0.00,219.33,0.00,180.80,184.09,220.94,214.13,199.39,0.00,...,193.87,0.00,0.00,235.12,220.25,180.16,235.87,0.00,3509.01,475.05
2009,0.00,0.00,217.80,0.00,195.39,180.87,221.32,225.38,203.86,0.00,...,193.87,0.00,0.00,243.12,219.67,171.03,229.82,0.00,3517.97,476.05
2010,0.00,0.00,234.93,0.00,204.13,187.03,226.25,231.48,215.53,0.00,...,204.84,0.00,0.00,248.11,228.58,177.85,247.90,0.00,3693.72,494.60
2011,0.00,0.00,251.36,0.00,207.85,212.50,247.33,255.75,236.47,0.00,...,219.49,0.00,0.00,267.64,256.63,185.30,268.57,0.00,4003.83,527.30
2012,0.00,0.00,275.31,0.00,218.53,235.00,266.16,281.64,248.89,0.00,...,233.69,0.00,0.00,286.32,273.81,200.42,292.84,0.00,4614.97,562.10
2013,0.00,0.00,313.30,0.00,263.35,274.81,296.39,317.53,275.60,0.00,...,274.92,0.00,0.00,318.80,300.80,233.66,328.43,0.00,5246.55,625.31
2014,0.00,0.00,314.03,0.00,267.79,283.59,313.48,335.93,288.82,0.00,...,273.62,0.00,0.00,340.52,344.67,234.72,344.90,0.00,5470.68,647.77
2015,310.96,324.44,339.91,341.77,312.64,316.17,358.85,367.66,325.39,327.49,...,294.59,347.47,363.90,381.60,379.52,280.50,389.65,346.02,9205.56,704.35
2016,361.43,372.68,398.77,380.97,360.66,394.60,443.40,428.52,393.37,368.04,...,348.35,376.77,411.22,452.73,448.01,362.55,456.48,389.13,10790.96,813.72
2017,331.54,366.87,364.78,365.00,340.48,393.23,404.45,406.36,379.81,352.63,...,346.35,378.14,378.69,445.72,431.46,353.17,434.88,374.65,10285.09,778.87
2018,0.00,0.00,359.18,0.00,327.82,387.99,407.59,408.54,365.21,345.90,...,341.10,0.00,0.00,441.02,435.09,346.31,444.49,0.00,7669.96,789.00
2019,0.00,0.00,0.00,0.00,365.90,421.25,452.49,462.11,416.85,385.48,...,375.14,0.00,0.00,475.76,472.48,362.23,490.36,0.00,7601.20,861.07
2020,0.00,0.00,0.00,0.00,429.13,480.07,483.81,528.75,497.11,0.00,...,428.74,0.00,0.00,538.21,543.03,409.73,558.33,0.00,8265.80,976.40
2021,0.00,0.00,0.00,0.00,481.92,546.92,603.27,627.97,570.80,0.00,...,494.98,0.00,0.00,653.41,659.77,465.74,654.70,0.00,9678.17,1125.12
2022,0.00,0.00,0.00,0.00,566.33,631.80,699.46,701.66,668.62,0.00,...,579.31,0.00,0.00,747.32,751.23,529.06,762.23,0.00,11186.48,1283.95
2023,0.00,0.00,0.00,0.00,581.41,655.54,692.04,691.06,670.85,0.00,...,600.25,0.00,0.00,758.98,753.25,542.28,768.61,0.00,11314.54,1297.48

# --==Bolsa Família X Cestas Básicas==--

In [18]:
import plotly.graph_objects as go

fig = go.Figure()

# Adicionar as barras
fig.add_trace(go.Bar(x=df.index, y=df["Resultado"], name='Média cestas básicas', marker_color='rgb(55, 83, 109)'))
fig.add_trace(go.Bar(x=df.index, y=bolsa_familia_anual["Valor médio em R$"], name='Media Bolsa Familia', marker_color='rgb(26, 118, 255)'))

# Atualizar layout
fig.update_layout(
    title={
        'text': '<b>Valor médio: Bolsa Familia x Cestas Básicas</b>', 
        'y':0.9, 
        'x':0.5, 
        'xanchor': 'center',
        'yanchor': 'top',
        'font': {
            'size': 20, 
            'color': 'black',
            'family': 'Arial, sans-serif'
        }
    },
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='R$',
        titlefont_size=16,
        tickfont_size=14,
    ),
    legend=dict(
        x=1,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.2,  # Espaço entre barras de coordenadas de localização adjacentes
    bargroupgap=0.1  # Espaço entre barras da mesma coordenada de localização
)
fig.update_xaxes(tickmode='linear') # Garantir que todos os anos apareçam no eixo x
fig.show()