In [1]:
import matplotlib.pyplot as plt
import pandas as pd

# --==Salário Mínimo Nomnial VS Salário Mínimo Necessário==--

In [2]:
salario = pd.read_excel('salario_minimo_nominal_x_necessario.xlsx')
salario

,Ano,Mês,Salário mínimo nominal,Salário mínimo necessário,salario_min,salario_nec
0,2024,5,"R$ 1.412,00","R$ 6.946,37","1.412,00","6.946,37"
1,2024,4,"R$ 1.412,00","R$ 6.912,69","1.412,00","6.912,69"
2,2024,3,"R$ 1.412,00","R$ 6.832,20","1.412,00","6.832,20"
3,2024,2,"R$ 1.412,00","R$ 6.996,36","1.412,00","6.996,36"
4,2024,1,"R$ 1.412,00","R$ 6.723,41","1.412,00","6.723,41"
...,...,...,...,...,...,...
354,1994,11,"R$ 70,00","R$ 744,25","70,00","744,25"
355,1994,10,"R$ 70,00","R$ 740,83","70,00","740,83"
356,1994,9,"R$ 70,00","R$ 695,64","70,00","695,64"
357,1994,8,"R$ 64,79","R$ 645,53","64,79","645,53"
358,1994,7,"R$ 64,79","R$ 590,33","64,79","590,33"

In [3]:
salario = salario.drop(['Salário mínimo nominal', 'Salário mínimo necessário'], axis=1) 
salario

      Ano  Mês salario_min salario_nec
0    2024    5    1.412,00    6.946,37
1    2024    4    1.412,00    6.912,69
2    2024    3    1.412,00    6.832,20
3    2024    2    1.412,00    6.996,36
4    2024    1    1.412,00    6.723,41
..    ...  ...         ...         ...
354  1994   11       70,00      744,25
355  1994   10       70,00      740,83
356  1994    9       70,00      695,64
357  1994    8       64,79      645,53
358  1994    7       64,79      590,33

[359 rows x 4 columns]

In [4]:
salario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ano          359 non-null    int64
 1   Mês          359 non-null    int64
 2   salario_min  359 non-null    object
 3   salario_nec  359 non-null    object
dtypes: int64(2), object(2)
memory usage: 11.3+ KB

In [5]:
salario['salario_min'] = salario['salario_min'].str.replace('.', '')
salario['salario_nec'] = salario['salario_nec'].str.replace('.', '')
salario

      Ano  Mês salario_min salario_nec
0    2024    5     1412,00     6946,37
1    2024    4     1412,00     6912,69
2    2024    3     1412,00     6832,20
3    2024    2     1412,00     6996,36
4    2024    1     1412,00     6723,41
..    ...  ...         ...         ...
354  1994   11       70,00      744,25
355  1994   10       70,00      740,83
356  1994    9       70,00      695,64
357  1994    8       64,79      645,53
358  1994    7       64,79      590,33

[359 rows x 4 columns]

In [6]:
salario['salario_min'] = salario['salario_min'].str.replace(',', '.')
salario['salario_nec'] = salario['salario_nec'].str.replace(',', '.')
salario

      Ano  Mês salario_min salario_nec
0    2024    5     1412.00     6946.37
1    2024    4     1412.00     6912.69
2    2024    3     1412.00     6832.20
3    2024    2     1412.00     6996.36
4    2024    1     1412.00     6723.41
..    ...  ...         ...         ...
354  1994   11       70.00      744.25
355  1994   10       70.00      740.83
356  1994    9       70.00      695.64
357  1994    8       64.79      645.53
358  1994    7       64.79      590.33

[359 rows x 4 columns]

In [7]:
df = salario.drop(['Mês'], axis=1) 
df

      Ano salario_min salario_nec
0    2024     1412.00     6946.37
1    2024     1412.00     6912.69
2    2024     1412.00     6832.20
3    2024     1412.00     6996.36
4    2024     1412.00     6723.41
..    ...         ...         ...
354  1994       70.00      744.25
355  1994       70.00      740.83
356  1994       70.00      695.64
357  1994       64.79      645.53
358  1994       64.79      590.33

[359 rows x 3 columns]

In [8]:
print(df.dtypes)

Ano             int64
salario_min    object
salario_nec    object
dtype: object

In [9]:
df['salario_min'] = df['salario_min'].astype(float)
df['salario_nec'] = df['salario_nec'].astype(float)

In [10]:
print(df.dtypes)

Ano              int64
salario_min    float64
salario_nec    float64
dtype: object

In [11]:
salario_anual = df.groupby('Ano').mean().reset_index()

In [12]:
salario_anual['salario_min'] = salario_anual['salario_min'].astype(float)
salario_anual['salario_nec'] = salario_anual['salario_nec'].astype(float)
salario_anual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ano          31 non-null     int64
 1   salario_min  31 non-null     float64
 2   salario_nec  31 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 876.0 bytes

In [13]:
import plotly.express as px
import plotly.graph_objects as go
period = salario_anual['Ano']
salario_minimo_nominal = salario_anual['salario_min']
salario_minimo_necessario = salario_anual['salario_nec']

fig = go.Figure()

fig.add_trace(go.Scatter(x=period, y=salario_minimo_nominal, mode='lines', name='Salário mínimo nominal',  line=dict(color='blue', shape='spline')))
fig.add_trace(go.Scatter(x=period, y=salario_minimo_necessario, mode='lines', name='Salário mínimo necessário',  line=dict(color='green', shape='spline')))

fig.update_layout(title='Comparativo absoluto salário mínimo nominal e necessário',
                   xaxis_title='Período',
                   yaxis_title='R$')

fig.show()